{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maskitApp/css/account.css' %}" media="screen"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
<title>MaskIt</title>
</head>
<nav>
    <div id="navhead">
        <img id="logo" src="media/maskitapp/images/logo.png"><img id="maskit" src="media/maskitapp/images/maskit.png">
    </div>
    <div id="links">
        <a href="index">Home</a>
        <a href="manage">Manage</a>
        <a href="livefeed">Live Feed</a>
        <a href="history">History</a>
        <a href="account" class="button">{{login}}</a>
    </div>
</nav>
<body>
    <div id="title">
        <h3>Account Settings</h3> <p>{{saved}}</p>
        <div id="change">
            <p>Change Password</p>
            <div id="addSign">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
    <div id="account">
        <form id="accountForm" method="POST" action="account">
            <label for="name"><p>Company Name</p></label>
            <input  name="name" type="text" placeholder="{{name}}">
            <label for="email"><p>Comapny Email</p></label>
            <input name="email" type="email" placeholder="{{email}}">
            <label for="message"><p>Customised Alert Message</p></label>
            <input name="message" class="message" type="text" placeholder="{{message}}">
            <div id="buttons">
                <a href="logout"><button class="logout" type="button">Log out</button></a>
                <button class="save" type="submit">Save</button>
            </div>
            {% csrf_token %}{{error}}
        </form>
    </div>
</body>
<footer><p>©2021 MaskIt. All Rights Reserved.</p></footer>