{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maskitApp/css/add.css' %}" media="screen"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
<title>MaskIt</title>
</head>
<nav>
    <div id="navhead">
        <img id="logo" src="media/maskitapp/images/logo.png"><img id="maskit" src="media/maskitapp/images/maskit.png">
    </div>
    <div id="links">
        <a href="index">Home</a>
        <a href="manage">Manage</a>
        <a href="livefeed">Live Feed</a>
        <a href="history">History</a>
        <a href="account" class="button">Login</a>
    </div>
</nav>
<body>
    <div id="add">
       <p>Add Employee</p> 
       <div id="formContainer">
           <div id="imgContainer">
                <i class="fas fa-plus"></i>
                <p2>Image 1</p2>
           </div>
           <form>
                <label for="name" ><p>Name</p></label>
                <input name="name" type="text">
                <label for="number"><p>Contact Number</p></label>
                <input name="number" type="tel">
                <label for="images"><p>Add Images</p></label>
                <div id="images">
                        <div class="file-input">
                            <input type="file" id="image1" class="file">
                            <label for="file">Image 1</label>
                        </div>
                        <div class="file-input">
                            <input type="file" id="image2" class="file">
                            <label for="file">Image 2</label>
                        </div>
                        <div class="file-input">
                            <input type="file" id="image3" class="file">
                            <label for="file">Image 3</label>
                        </div>
                </div>
                <div id="buttons">
                    <button class="cancel" type="button">Cancel</button>
                    <button class="add" type="submit">Add</button>
                </div>   
           </form>
       </div>
    </div>
   
</body>
<footer><p>©2021 MaskIt. All Rights Reserved.</p></footer>