{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maskitApp/css/history.css' %}" media="screen"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
<title>MaskIt</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datetimefield", {
            enableTime: true,
            enableSeconds: true,
            dateFormat: "Y-m-d H:i:S",
        });
    });
</script>
</head>
<nav>
    <div id="navhead">
        <img id="logo" src="media/maskitapp/images/logo.png"><img id="maskit" src="media/maskitapp/images/maskit.png">
    </div>
    <div id="links">
        <a href="index">Home</a>
        <a href="manage">Manage</a>
        <a href="livefeed">Live Feed</a>
        <a class="active" href="history">History</a>
        <a href="account" class="button">{{login}}</a>
    </div>
</nav>
<body>
    <div id="title">
        <h3>Violation History</h3>
        <div id="camera">
            <p>Camera Settings</p>
            <div id="addSign">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
    <form method="POST" action="history">
    <div id="view">
        <p>View From:</p>
        <div class="select"><input name="from" placeholder="select" class="datetimefield" type="datetime-local"></div>
        <p>View To:</p>
        <div class="select"><input name="to" class="datetimefield" placeholder="select" type="datetime-local"></div>
        {%csrf_token%}
        <button type="submit">Go</button>
    </div>
    </form>
    <div id="table">
        <div class="row" id="tableHeading">
            <p>Name</p>
            <p>Contact Number</p>
            <p>Time</p>
        </div>
        {% for historyrow in historylist %}
        <div class="row">
            <p>{{historyrow.employee.name}}</p>
            <p>{{historyrow.employee.number}}</p>
            <div class="timing"><p>{{historyrow.timestamp}}</p></div>
        </div>
        {% endfor %}
    </div>
</body>
<footer><p>©2021 MaskIt. All Rights Reserved.</p></footer>